<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
	
	<typeAliases>
        <typeAlias type="com.ezen.vo.MemberVO" alias="memberVO"/> <!-- DB에서 as는 alias의 약자. type의 별칭을 alias로 정하겠다. -->
        <typeAlias type="com.ezen.vo.ProductVO" alias="productVO"/>
        <typeAlias type="com.ezen.vo.CartVO" alias="cartVO"/>
    </typeAliases>
</configuration>
