@charset "UTF-8";
section{
    margin-top: 250px;
    margin-bottom: 10px;
    width: 100%;
}
.cartNoItem{
	background-color : lightgray;
	width: 85%;
	height: 300px;
	margin: 0px auto;
	text-align: center;
vertical-align:middle;
}
.cartNoItem2{
	width: 120px;
	height: 100px;
}
.cartNoItem3{
	padding :auto;
	margin:auto;
	font-size: 20px;
}
.cartNoItem3 > i{
	font-size: 35px;
}
.cart_header{
    text-align: center;
    margin-bottom: 35px;
}
.cart_table{
    width: 85%;
    margin: 5px auto;
    text-align: center;
}
.cart_table th{
    height: 40px;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: #f4f4f4;
    font-weight: 600;
    width: 100%;
}

.cart_table td{
    border-bottom: 1px dashed rgb(0, 0, 0);
}

.check input[type=checkbox] {
    transform: scale(1.5);
}
.cartImg img{
    max-height: 90px;
}
.cart_count{
    width: 50px;
}
.cartSmallButton, .buttongroup{
    background-color: #383838;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: -1px;
    padding: 3px 5px;
    margin: 2px 3px;
    width: auto;
    word-break: keep-all;
    text-decoration: none;
    font-size: 0.9375em;
    border:none;
}
.buttongroup1{
    text-decoration: none;
    padding: 12px 30px;
    box-sizing: border-box;
    margin-top: 110px;
    font-size: 1.2em;
    font-weight: bold; 
    border: none;
    text-align: center;
}

.but_col2{
    background-color: #383838;
    color: #ffffff;
}

.but_col1{
    background-color: #ffd900;
    color :black;
}

.but_col1:hover{
    color: white;
}

.cartSmallButton:hover, .buttongroup:hover, .but_col2:hover{
    color:black;
    background-color: #b9b9b9;
}

.right_align{
    padding-right: 150px;
    text-align: right;
}

.center_align{
    text-align: center;
}

/*
.val1{
    color:blue;
}
.val2{
    color:red;
}
*/
.totalBox{
    width: 85%;
    margin: 15px auto;
    text-align: center;
}

.font_st{
    font-size: 25px;
    width: 33%;
    max-width: 250px;
}

.aa{
    transform: rotate(90deg);
}
@media screen and (max-width:700px) {
    .right_align{
        padding:0px;
        text-align: center;
    }
    .f_img{
    	padding:40px 0 0 0;
    }
}

@media screen and (max-width:950px){
	.f_img{
		padding:40px 0 0 0;
	}
}