<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ezen.mapper.MemberMapper"> <!-- 호출할떄 사용할 mapper이름. -->

	<insert id="join" parameterType="memberVO">
     <![CDATA[
    	INSERT INTO shop_member(
    		memberId,
    		memberPwd,
    		memberName,
    		memberBirth,
    		memberGender,
    		memberPhone,
    		memberTel,
    		memberEmail,
    		memberSpam
    	)VALUES(
    		#{memberId},
    		#{memberPwd},
    		#{memberName},
    		#{memberBirth},
    		#{memberGender},
    		#{memberPhone},
    		#{memberTel},
    		#{memberEmail},
    		#{memberSpam}
    	)
     ]]>	
    </insert>
    
    <select id="idCheck" resultType="int">
		SELECT COUNT(*) 
		FROM SHOP_MEMBER
		WHERE memberId = #{memberId}
	</select>
    
    <select id="login" parameterType="memberVO" resultType="memberVO">
    	SELECT
    		*
    	FROM shop_member
    	WHERE memberId = #{memberId}
    	AND memberPwd = #{memberPwd}
    </select>
    <update id="gradeUP" parameterType="memberVO">
    	UPDATE SHOP_MEMBER
    	SET
    		memberBusinessNumber = #{memberBusinessNumber},
    		memberGrade = 2
    	WHERE
    		midx = #{midx}
    </update>
</mapper>